.about {
    padding: 10px;
    padding-top: 3px;
    margin-top: 0;
    margin: auto;
    background-color: white;
    min-width: 450px;
    max-width: 1350px;
}

.about > h2 {
    text-align: center;
    font-size: 1.8em;
}

p {
    padding: 0px 15px;
    text-indent: 10px;
    text-align: justify;
    font-size: 1.2em;
}

