.user {
    padding: 10px;
    padding-top: 3px;
    margin-top: 0;
    margin: auto;
    background-color: white;
    min-width: 450px;
    max-width: 1350px;
    text-indent: 5px;
    font-size: 1.1em;
}
