.list {
    display: flex;
    list-style: none;
}

.item {
    margin-right: 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 10px;
}

.item:hover {
    background-color: #087338;
    text-decoration: underline;
    transition: 0.5s;
}